.brand-shelf
{
    display: grid;
    width: 100%;
    grid-template-areas: "b1 b2 b3";
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.brand-logo
{
    height: 100%;
    width: 80%;
    object-fit: contain;
}

.item-desc-gr
{
    display: grid;
    position: relative;
    width: 100%;
    height: 300px;
    grid-template-areas: "item desc";
    grid-template-columns: 30% 1fr;
    margin-bottom: 40px;
}

.item-img
{
    position: relative;
    height: 300px;
    width: 100%;
    grid-area: item;
    object-fit: cover;
}

.item-desc-cont
{
    grid-area: desc;
    height: 100%;
    width: 100%;
}

.item-title
{
    font-size: 29px;
    color: #F8F8F8;
    text-align: left;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.item-desc
{
    font-size: 21px;
    color: #F8F8F8;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.view-on-site
{
    width: 400px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
    margin-top: 25px;
    padding: 5px;
    background-color: #595959;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #B4CDED;
}

.plain-a
{
    text-decoration: none;
    color: #B4CDED;
}

.vista-colors
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
    border-radius: 10px;
}

.kelvin-d
{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pop-series-gr
{
    display: grid;
    position: relative;
    width: 100%;
    grid-template-areas: "s1t s2t"
    "s1 s2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65px 1fr;
}

.pop-series-title
{
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #F9EBB0;
}

.pop-series-img-cont
{
    position: relative;
    width: 100%;
}

.pop-series-img
{
    position: relative;
    object-fit: contain;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.finishes-ch-gr
{
    display: grid;
    grid-template-areas: "graphic desc";
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: 30px;
}

.vista-finishes-chart-cont
{
    grid-area: graphic;
    height: 100%;
    width: 100%;
}

.vista-finishes-chart
{
    grid-area: graphic;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

.vista-finishes-desc-cont
{
    grid-area: desc;
    width: 100%;
    height: 50px;
}

#vistaGreen
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 25px;
}

